# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Entornos virtuales
.venv/
.env/

# Datos grandes / sensibles
data/histoimage/BRACS_RoI/
data/histoimage/BRACS_RoI_patches_512_overlap_full/
data/histoimage/*.npy
data/histoimage/*.pkl
data/histoimage/BRACS.xlsx

# Salidas de experimentos
outputs/
results/
runs/
weights/
mlruns/

# --- VSCode ---
.vscode/

# --- Otros ---
*.log